Source: duetto-newlib
Maintainer: Alessandro Pignotti <alessandro@leaningtech.com>
Section: devel
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>=8), duetto

Package: duetto-newlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, duetto
Description: A C++ compiler for the Web, C liibrary implementation
 Duetto is a tool to bring C++ programming to the Web,
 designed to provide a seamless experience for client/server
 development.
