#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -D newlib -Bnewlib/build -- --host=cheerp-unknown-none --with-cxx-headers=$(CURDIR)/libcxx/include --prefix=/opt/cheerp --enable-newlib-io-long-long --enable-newlib-iconv --enable-newlib-iconv-encodings=utf-16,utf-8,ucs_2

override_dh_auto_build:
	dh_auto_build -D newlib -Bnewlib/build
	make -C newlib -f build-bc-libs.mk DESTDIR="debian/tmp"

override_dh_auto_install:
	dh_auto_install -D newlib -Bnewlib/build --destdir=debian/tmp
	cp -v newlib/build/libc/libc.bc newlib/build/libm/libm.bc debian/tmp/opt/cheerp/lib
